/* About Me.html css */

.hobby {
    min-height: 80%;
}

.skills {
    position: relative;
}

.skill-unit {
    margin-bottom: 5%;
}

.skill-title-font {
	color: #f2f0e6;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Rubik', sans-serif;
}

.bold {
    font-weight: bold;
}

@keyframes hoverskill {
    0% {

    }

    20% {
        font-size: 1.25em; 
    }

    40% {
        font-size: 1.3em; 
    }

    60% {
        font-size: 1.25em; 
    }
}



.skill-left {
    text-align: center;
    vertical-align: middle;
    font-size: 1.25em;
    margin-left: 12%;
    float: left;
    border-radius: 10%;
    animation-play-state: paused;
    background: linear-gradient(#6b8877, #545a63);
    padding: 2%; 
    width: 12%;
    height: auto;
    outline: 0;
    overflow: hidden;
}

.skill-left:hover {
    animation: hoverskill 2s linear infinite;
    animation-play-state: running;  
}


.skill-right {
    text-align: center;
    vertical-align: middle;
    font-size: 1.25em;
    float:inline-end;
    margin-left: 25%;

    border-radius: 2%;
    padding: 2%; 
    width: 20%;
    height: auto;  
}

.picture-card {
    position: absolute;
}

.feature-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    height: auto;
    border: 10px solid #f0fdff;
    border-radius: 10% 10% 0% 0%;
}

.feature {
    margin-top: 10%;
}

.feature-description
{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background: #ffd2d2;
    color: #1a1413;
    transition: 0.15s ease;
    height: auto;
    border-radius: 0% 0% 15% 15%;
    padding-bottom: 3%;
    /*Not sure if this is best way, to remove rough edges but it works:*/
    z-index: 1;
    margin-top: -0.1%;
    font-size: 1.7em;
}

.picture-card-img {
    max-width: 24vw;
    max-height: 24vw;
    transition: 0.12s ease;
    border: 10px solid #f0fdff;
    border-radius: 10% 10% 0% 0%;
}

.picture-card-img video {
    overflow: hidden !important;
}


.picture-card:hover .picture-card-img {
    max-width: 25vw;
    max-height: 25vw;
    border: 10px solid #f0fdff;
}

.picture-card:hover .picture-description {
    font-size: 1.35vw;
}

.picture-description {
    background: #f0fdff;
    transition: 0.15s ease;
    height: 138%;
    border-radius: 0% 0% 30% 30%;

    /*Not sure if this is best way, to remove rough edges but it works:*/
    z-index: 1;
    margin-top: -0.1%;
    font-size: 1.1vw;
}



.picture-text {
    /*Text color*/
    color: #332a32;
    font-family: 'Permanent Marker', cursive;
    margin-left: 3%;
    margin-top: -2%;
    padding-bottom: 2%;
}

.picture-description-detailed {
    position: absolute;
    min-width: 25vw;
}

.hobby-text {
    padding-top: 10%;
	font-size: 2vw;
    margin-left: 25%;
}

@media screen and (max-width: 768px) {
    .picture-card-img {
        max-width: 28vw ;
        max-height: 28vw ;
    }

    .picture-description {
        font-size: 0.8em ;
    }
    .skill-right {
        margin-left: 0% ;
        width: 50% ;
    }
}

@media screen and (min-width: 426px)
{
    .picture-card {
        opacity: 1 ;
    }
    .feature {
        opacity: 0 ;
    }
}

@media screen and (max-width: 425px) {
    .skill-right {
        margin-left: -20% ;
        width: 100% ;
    }
    .skill-left {
        width: 16% ;
    }
    .picture-card {
        opacity: 0 ;
    }
    .feature {
        opacity: 1 ;
    }
    .hobby-text 
    {
        text-align: center;
        margin-left: 0% ;
    }
}